label{
    font-size: 20px;
    color: #37569d;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 35px auto;
  }

h3{
  text-align: left;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: orange;
  margin:0;
  padding:0;
}

h4{
  font-size: 15px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
  font-family: 'Times New Roman', Times, serif;
  color: #37569d;
}

body{
  background-color: aliceblue;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  }

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.tr{
  text-align: center;
}

.box{
  border: 1px solid #37569d;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #002449;
}

.ent{
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  padding: auto;
  margin-left: 4px;
}

.sba{
  border: 1px solid #3a488b;
  padding: 9px 40px 9px 10px;
  border-radius: 5px;
  color: #3a488b;
  font-family: montserratregular;
  
  
  background-repeat: no-repeat;
  
  text-indent: 1px;
  text-overflow: '';
  font-size: 14px;
  width: 100%;
  outline: none;
}

.books-count{
  padding-left: 800px;
  color: orange;
  font-size: 60px;
}

#myTable{
  border-width: 1px 0;
  border: 1px solid black;
  padding: 5px;
  border-spacing: 15px;
  width: 100%;
  column-rule: 4px double black;
  text-align: center;
}